<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Über mich</title>
	<meta name="description" content="Über mich project">
    <meta name="author" content="Radhwan Mahdi">
	
	<link rel="stylesheet" href="style.css">
	<script src="bootbox.min.js"></script>
	<script src="jquery.js"></script>

</head>
<body>
	<!-- ###DOKUMENT### begin -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div id="header-nav" class="container-fluid">
			<div id="header-nav-content" class="container">
				<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
       				<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      				</button>
      				<a id="logo" class="navbar-brand" href="#"><img src="fileadmin/template/main/assest/logo.png" class="img-circle"></a>
    			</div>
    			
    			<div class="collapse navbar-collapse text-center" id="bs-navbar-collapse-1">
    				<div class="row">
    					<div id="nav-left-link" class="col-xm-12 col-sm-4">
    						<ul class="nav navbar-nav navbar-left" style="border:none;">
      	  						<li><a href="#skills">SKILLS</a></li>
        						<li><a href="#about">ABOUT</a></li>
        						<li><a href="#contact">CONTACT</a></li>
      						</ul>		
    					</div>
    					<div id="logo-pc-div" class="col-sm-4 text-center">
    						<a id="logo-pc" href="#"><img src="fileadmin/template/main/assest/logo-pc.png" class="img-circle"></a>
    					</div>
    					<div class="col-xm-12 col-sm-4">
    						<div class="row nav-right-media">
								<div class="col-xm-3 col-sm-3"><a href="#"><img src="fileadmin/template/main/assest/facebook.png" class="img-circle"></a></div>
								<div class="col-xm-3 col-sm-3"><a href="#"><img src="fileadmin/template/main/assest/twitter.png" class="img-circle"></a></div>
								<div class="col-xm-3 col-sm-3"><a href="#"><img src="fileadmin/template/main/assest/linkedin.png" class="img-circle"></a></div>
								<div class="col-xm-3 col-sm-3"><a href="#"><img src="fileadmin/template/main/assest/google.png" class="img-circle"></a></div>
							</div>
    					</div>			
    				</div>      				
    			</div>
			</div>
		</div>
	</nav>
	
	<div id="stage" class="container-fluid">
			<div id="stage-content" class="container">
				<div class="row" id="stage-content-up">
				</div>
				<div class="row" id="stage-content-middle">
					<!-- ###USER_PIC### --> 
					<!-- ###USER_PIC### -->
				</div>
				<div class="row" id="stage-content-down">
					<!-- ###USER_NAME### --> 
					<!-- ###USER_NAME### -->
				</div>
			</div>
	</div>
	
	<div id="skills" class="container-fluid">
			<div id="skills-content" class="container">
				<div class="row">
					<div class="col-sm-2 col-sm-offset-5 title">
						<span class="title-content">SKILLS</span>
					</div>
				</div>			  
			    <div class="row">
			    	<!-- ###SKILL_ONE### --> 
					<!-- ###SKILL_ONE### -->
					<!-- ###SKILL_TWO### --> 
					<!-- ###SKILL_TWO### -->
					<!-- ###SKILL_THREE### --> 
					<!-- ###SKILL_THREE### -->
			    </div>	
			</div>
	</div>
	
	<div id="about" class="container-fluid">
			<div id="about-content" class="container">
				<div class="row">
					<div class="col-sm-2 col-sm-offset-5 title">
						<span class="title-content">ABOUT</span>
					</div>
				</div>	
				<div class="row">
					<!-- ###ABOUT_LEFT### --> 
					<!-- ###ABOUT_LEFT### -->		
					<!-- ###ABOUT_RIGHT### --> 
					<!-- ###ABOUT_RIGHT### -->
				</div>
			</div>
	</div>
	
	<div id="contact" class="container-fluid">
			<div id="contact-content" class="container">
				<div class="row">
					<div class="col-sm-2 col-sm-offset-5 title">
						<span class="title-content">CONTACT</span>
					</div>
				</div>
				<div class="row">
					<!-- ###CONTACT### --> 
					<!-- ###CONTACT### -->
				</div>
			</div>
	</div>
	
	<div id="footer" class="container-fluid">
			<div id="footer-content" class="container">
				<div class="row">
					<div id="footer-content-left" class="col-xs-12 col-sm-4">
						<span>COPYRIGHT &copy; 2017</span>
					</div>
					<div class="col-xs-12 col-sm-4 col-sm-offset-4">
						<div id="footer-right-media" class="row">
							<div class="col-xs-3 col-sm-3 "><a href="#"><img src="fileadmin/template/main/assest/facebook.png" class="img-circle"></a></div>
							<div class="col-xs-3 col-sm-3 "><a href="#"><img src="fileadmin/template/main/assest/twitter.png" class="img-circle"></a></div>
							<div class="col-xs-3 col-sm-3 "><a href="#"><img src="fileadmin/template/main/assest/linkedin.png" class="img-circle"></a></div>
							<div class="col-xs-3 col-sm-3 "><a href="#"><img src="fileadmin/template/main/assest/google.png" class="img-circle"></a></div>
						</div>
					</div>
				</div>
			</div>
	</div>

	<!--this is used for the customizing of alert box-->
	<div id="messageAlert" class="container">
			<div class="row text-right">
				<button type="button" class="confirmButton">
          			<span class="glyphicon glyphicon-remove"></span>
        		</button>
			</div>
			<div class="row">
				<div class="col-sm-12 title">
					<span id="alertTitle" class="title-content"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 about-description-div text-left">
					<p id="detail1"></p>
				</div>
				<div class="col-xs-12 col-sm-6 about-description-div text-left">
					<p id="detail2"></p>
				</div>
			</div>
	</div>

	<!-- ###DOKUMENT### end -->
</body>
</html>


